.f1{
    color: red;
}
.f2{
    color:green;
}
.f3{

}
.f5{
    color: blue;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    
}

.f6{
    background-color: lightblue;
}
.f7{
    border-style: solid;
}