#body{
    background-color: powderblue;
    
}
.mix {
    border-style: solid;
    margin-top: 4mm;
}
.mixx{
    border-style: solid;
    margin-bottom: 4mm;
   
}
p.s {
    border-style: dashed;
    text-align: center;
   
}