.p{
 color: blue;
 font-size: medium;
 font-weight: bolder;
 font-style: oblique;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p1{
    color: blue;
    font-size: medium;
 font-weight: bolder;
 font-style: oblique;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p2{
    color: blue;
    font-size: medium;
 font-weight: bolder;
 font-style: oblique;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.p3{
    color: blue;
    font-size: medium;
 font-weight: bolder;
 font-style: oblique;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.p4{
    color: blue;
    font-size: medium;
    font-weight: bolder;
    font-style: oblique;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.p5{
    color: blue;
    font-size: medium;
 font-weight: bolder;
 font-style: oblique;
 font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.p6{
    margin-top: 2mm;
    border-style: solid;
}
.p8{
    border-style: solid;
}
.d{
    background-color: lightblue;
}
.d1{
    border-style: solid;
}
.d2{
    border-style: solid;
}
.d3{
    border-style: solid;
}
